@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden ;
}


.navbar{
    background-color: green;
    height: 8vh;
    width: 100%;
}

ul{
    display: flex;
    justify-content: center;
    
}

 li{
    padding: 20px 40px;
    list-style: none;


}

li a{
text-decoration: none;
font-size: 17px;
color: white;
font-family: 'Heebo', sans-serif;
}

li a:hover{
    font-weight: bold;
}

.bgphoto{
    height: 70vh;
    width: 100%;
    background: url('img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  

  
}


.intro{
    height: 70vh;
    
}

.intro h2{
    text-align: center;
    padding-top:20px;
    font-family: 'Heebo', sans-serif;
}

.imgcontainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcontainer img{
    width: 400px;
}



.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: green;
    color: white;
    font-family: 'Heebo', sans-serif;
   
}